.card-shadow{
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ff7676;
    }
    &::-webkit-scrollbar-track{
        background-color: white;
    }
}

.details{
    width: 80%;
    border-radius: 1rem;
    padding: 2rem 5rem;
    background-color: white;
    position: absolute;
    left: 10%;
    color: black;

    img{
        width: 100%;
    }

    .close-details-btn{
        display: inline-block;
        position: absolute;
        right: 2.5rem;
        font-weight: 900;
        padding: 0.5rem;

        &:hover{
            border-radius: 30%;
            background-color: rgba(214, 108, 108, 0.653);
            cursor: pointer;
            color: white;
        }
    }
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    text-align: center;
}

.platforms{
    display: flex;
    justify-content: space-evenly;

    img{
        margin-left: 3rem;
    }
}

.media{
    margin-top: 5rem;

    img{
        width: 100%;
    }
}

.description{
    margin: 5rem 0rem;
}

@media(max-width:1240px){
    .stats{
        flex-direction: column;
        text-align: center;


        .rating{
            p{
            }
        }
        .platforms{
            img{
                margin: 0rem 1.5rem;
                height: 2rem;
                width: 2rem;
            }
        }
    }
}
@media(max-width:1024px){
    .details{
        padding: 2rem ;
    }
    .info{
        margin-top: 3rem;
    }
}

@media(max-width:768px){
    .details{
        left: 0;
        width: 100%;
        
    }
    .info{
        margin-top: 3rem;
    }
}

@media(max-width:500px){

    .details{
        padding:2rem 0.2rem ;
    }

    .stats{
        margin-top:1rem ;
    }
}